#Home_content{
    height: 40em;
    position: relative;;
  }
  #Home_content_left {
    /* position: fixed; */
    height: 40em;
    width: 60%;
    position:relative;
    float:left;
  }
  
  #Home_content_right{
    height: 40em;
    width: 30%;
    position:relative;
    float:left;
    top:3em;
  }
  
  #Personal_picture{
    border: 1px solid #ddd;
    border-radius: 1em;
    padding: 0.3em;
    width: 30em;
  }
  
  #Home_content_hi{
    height:10em;
    position:relative;
  }
  
  #Hi_text{
    text-align: center;
    font-size: 7em;
    font-family: sans-serif;
    color: black;
  }
  
  #Home_content_description{
    height:20em;
    position:relative;
  }
  
  #Description_text{
    text-align: left;
    font-size: 2em;
    font-family: sans-serif;
    color: grey;
  }
  