.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Home_content{
  height: 40em;
  position: relative;;
}
#Home_content_left {
  /* position: fixed; */
  height: 40em;
  width: 60%;
  position:relative;
  float:left;
}

#Home_content_right{
  height: 40em;
  width: 30%;
  position:relative;
  float:left;
  top:3em;
}

#Personal_picture{
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 0.3em;
  width: 30em;
}

#Home_content_hi{
  height:10em;
  position:relative;
}

#Hi_text{
  text-align: center;
  font-size: 7em;
  font-family: sans-serif;
  color: black;
}

#Home_content_description{
  height:20em;
  position:relative;
}

#Description_text{
  text-align: left;
  font-size: 2em;
  font-family: sans-serif;
  color: grey;
}

