#menu_Bar{
    height: 50em;
    position:relative;
    width: 20em;
}
#show_Grid{
    height: 100em;
    position: relative;
    width: 70%;
    float: left;
}
#menu_Button_Grid{
    width: 15%;
    position: relative;
    float:left;
}
.grid-item {
    background-color: whitesmoke;
    text-align: center;
    width:11em;
    height: 15em;
    padding: 20px;
    font-size: 30px;
}
.item1 {
    grid-column: 1 ;
    grid-row: 1 ;
}
.item2{
    grid-column: 2;
    grid-row: 1;
}
.item2{
    grid-column: 3;
    grid-row: 1;
}
.item4 {
    grid-column: 1 ;
    grid-row: 2 ;
}
.item5{
    grid-column: 2;
    grid-row: 2;
}
.item6{
    grid-column: 3;
    grid-row: 2;
}
.item7 {
    grid-column: 1 ;
    grid-row: 3 ;
}
.item8{
    grid-column: 2;
    grid-row: 3;
}
.item9{
    grid-column: 3;
    grid-row: 3;
}




.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color:white;
    padding: 10px;
    height: 100%;
  }

.grid-img{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    background-color: whitesmoke
    
}

.ant-card-cover{
    height:70%
}

.ant-carousel{
    height:100%
}

.slick-current{
    height:100%
}

.slick-list{
    height:100%
}

.slick-initialized{
    height:100%
}


.ant-carousel .slick-slide {
    text-align: center;
    background:whitesmoke;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color:#364d79;
  }